.container-code {
	height: calc(100% - 40px);
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.wrapperSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: max-content;
}

.wrapper-select {
	width: 100%;
	height: 32px;
}

.wrapper-select select {
	width: 128px;
	height: 100%;
	border: 2px solid #18a0fb;
	background-color: #ffffff;
}

.wrapper-select option {
	background-color: #222222;
	color: #ffffff;
}

.container-code pre {
	background-color: #0000000f;
	width: 100%;
	height: calc(100% - 32px - 48px);
	margin: 0;
	overflow: auto;
}

.container-code pre::-webkit-scrollbar {
	width: 6px;
}

.container-code pre::-webkit-scrollbar-thumb {
	background-color: #0000004d;
	border-radius: 5px;
}

.wrapper-button-copy {
	width: 100%;
	height: 48px;
	border-top: 1px solid #0000001a;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 12px;
}

.wrapper-button-copy .button {
	width: 100%;
	justify-content: center;
	cursor: pointer;
}

.wrapper-button-copy .button:focus {
	border: 1px solid #000000cc;
}
