.root {
	width: 100%;
	height: 100%;
}

.wrapperSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 30px;
}

.wrapperImg {
	width: 100%;
	height: 200px;
	border: 1px solid black;
	box-sizing: border-box;
}

.wrapperImg img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

pre {
	background-color: rgb(31 41 55 / 1);
	width: 100%;
}

.token.tag {
	color: #f66;
}

.token.plain-text {
	color: white;
}