.root {
	width: 100%;
	height: 100%;
	position: relative;
}

.container-preview {
	width: 100%;
	height: calc(100% - 40px);
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.wrapperImg {
	width: 100%;
	height: calc(100% - 48px);
	box-sizing: border-box;
	position: relative;
}

.overlay-preview {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000000cc;
	opacity: 80%;
}

.wrapper-progress-bar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 192px;
	height: 3px;
	background-color: #cee2f9;
}

.progress-bar {
	height: 100%;
	background-color: #0b6ee0;
}

.wrapperImg img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.button-generate {
	padding: 0 12px;
	width: 100%;
	height: 48px;
	border-top: 1px solid #0000001a;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-generate .button {
	width: 100%;
	justify-content: center;
}

.button-generate .button-cancel:focus {
	border: 1px solid #000000cc;
}

.tab-trip {
	display: flex;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	border-top: 1px solid #0000001a;
	gap: 16px;
	padding-left: 16px;
}

.tab-item {
	cursor: pointer;
	color: #0000004d;
}

.tab-preview,
.tab-code {
	width: fit-content;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 11px;
}

.tab-selected {
	color: #000000cc;
}
